@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;0,800;1,400&display=swap");

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bodoni Moda", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

/* Section Header styles */

.header-about {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Section Logo Style */

.logo {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  /* height: 80px;
  width: auto; */
}

/* Section Navbar Style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
  padding-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #808000;
  font-size: 1.5em;
  font-weight: 700;
}

.navbar a:hover {
  color: #becd75;
}

/* Section Main Style*/

.about-us {
  padding: 30px;
  text-align: center;
}

.about-title {
  font-size: 3em;
  color: #808000;
  margin-bottom: 30px;
}

.about-us .images-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.images-container img {
  width: auto;
  padding: 10px;
}

.about-us .text {
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.5rem;
}

/* Section Footer Styles */

.footer {
  background-color: #becd75;
  /* height: 175px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer p {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer a:hover {
  color: #808000;
}
