@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;0,800;1,400&display=swap");

/* Global Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bodoni Moda", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

/* Section Logo Style */

.logo {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  /* height: 80px;
  width: auto; */
}

/* Section Navbar Style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 60px; */
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
  padding-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #808000;
  font-size: 1.5em;
  font-weight: 700;
}

.navbar a:hover {
  color: #becd75;
}

/* Section Welcome Style */

.main-content {
  background-image: url("../assets/images/index-img-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* margin-top: 30px; */
  padding-top: 200px;
  padding-bottom: 200px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome-title h1 {
  font-size: 48px;
  color: #808000;
}

.welcome-title p {
  font-size: 28px;
  color: #3b3b02;
}

.welcome-title .btn {
  padding: 15px 32px;
  font-size: 22px;
  background-color: #808000;
  color: #fff;
  border: none;
  text-align: center;
  margin-top: 10px;
}

.welcome-title .btn:hover {
  color: #3b3b02;
}

/* Section Footer Style */

.footer {
  background-color: #becd75;
  /* height: 175px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer p {
  font-size: 22px;
  font-weight: bold;
  /* font-style: italic; */
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #fff;
  /* font-style: italic; */
}

.footer a:hover {
  color: #808000;
}
